-e git+https://github.com/Amsterdam/GOB-Config.git@v0.4.11h#egg=gobconfig
-e git+https://github.com/Amsterdam/GOB-Core.git@v0.17.3f#egg=gobcore
-e git+https://github.com/Amsterdam/flask-audit-log.git@v0.1.0a-rc1#egg=datapunt-flask-audit-log
Flask-API==2.0
Flask-Cors==3.0.8
Flask==1.1.1
flake8==3.7.8
freezegun==0.3.15
pytest-cov==2.7.1
pytest==5.1.2
requests-pkcs12==1.6
requests==2.20.0
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
