flake8==3.7.8
Flask==1.1.1
Flask-API==2.0
Flask-Cors==3.0.8
freezegun==0.3.15
-e git+https://github.com/Amsterdam/GOB-Core.git@v0.16.7t#egg=gobcore
-e git+https://github.com/Amsterdam/GOB-Config.git@v0.4.11h#egg=gobconfig
pytest==5.1.2
pytest-cov==2.7.1
requests==2.22.0
requests-pkcs12==1.6
-e git+https://github.com/Amsterdam/flask-audit-log.git@v0.1.0a-rc1#egg=flask-audit-log
